<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenToGif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ScreenToGif.Properties.Settings>
            <setting name="showCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="allowEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxFps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="size" serializeAs="String">
                <value>500, 280</value>
            </setting>
            <setting name="stopKey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="startPauseKey" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="modernStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quality" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="loop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="encodingCustom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="repeatCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="repeatForever" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>detect</value>
            </setting>
            <setting name="folder" serializeAs="String">
                <value />
            </setting>
            <setting name="preStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="paintTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="transparentColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="showFinished" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fullscren" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontInsertText" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="forecolorInsertText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="fontTitleFrame" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="forecolorTitleFrame" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="backcolorTitleFrame" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="redFilter" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="greenFilter" serializeAs="String">
                <value>126</value>
            </setting>
            <setting name="blueFilter" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="alphaFilter" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showMouseClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fontSizeAsPercentage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fontCaption" serializeAs="String">
                <value>Segoe UI, 14pt, style=Bold</value>
            </setting>
            <setting name="fontCaptionColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="captionVerticalAlign" serializeAs="String">
                <value>Far</value>
            </setting>
            <setting name="captionHorizontalAlign" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="fontCaptionPercentage" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="captionOutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="captionOutlineThick" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="captionUseHatch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="captionHatchColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="captionHatch" serializeAs="String">
                <value>NarrowVertical</value>
            </setting>
            <setting name="captionUseOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="freeDrawColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="freeDrawBrush" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="freeDrawEraser" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="borderThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="showHighDpiWarn" serializeAs="String">
                <value>True</value>
            </setting>
        </ScreenToGif.Properties.Settings>
    </userSettings>
</configuration>
