<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScreenToGif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ScreenToGif.Properties.Settings>
            <setting name="STshowCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STallowEdit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STsaveLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STmaxFps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="STsize" serializeAs="String">
                <value>500, 280</value>
            </setting>
            <setting name="STstopKey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="STstartPauseKey" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="STmodernStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STquality" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="STloop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STencodingCustom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STrepeatCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STrepeatForever" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STlanguage" serializeAs="String">
                <value>detect</value>
            </setting>
            <setting name="STfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="STpreStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="STpaintTransparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="STtransparentColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="STshowFinished" serializeAs="String">
                <value>True</value>
            </setting>
        </ScreenToGif.Properties.Settings>
    </userSettings>
</configuration>
