<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>

  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>-->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
</configuration>