<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenToGif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ScreenToGif.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Snapshot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseClicks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="LastFps" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>518</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>269</value>
            </setting>
            <setting name="CustomEncoding" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparentColor" serializeAs="String">
                <value>#FF32CD32</value>
            </setting>
            <setting name="PaintTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Looped" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RepeatCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RepeatForever" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StartPauseKey" serializeAs="String">
                <value>F7</value>
            </setting>
            <setting name="StopKey" serializeAs="String">
                <value>F8</value>
            </setting>
            <setting name="DetectUnchanged" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridColor1" serializeAs="String">
                <value>#FFF5F5F5</value>
            </setting>
            <setting name="GridColor2" serializeAs="String">
                <value>#FFF0F0F0</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>0,0,20,20</value>
            </setting>
            <setting name="FixedFrameRate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapshotDefaultDelay" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LastFpsImport" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="InsertFillColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="CaptureMode" serializeAs="String">
                <value>SourceCopy</value>
            </setting>
            <setting name="EditorTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EditorWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CaptionText" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="CaptionFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="CaptionFontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CaptionFontWeight" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="CaptionFontSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CaptionFontColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="CaptionOutlineThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CaptionOutlineColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="CaptionVerticalAligment" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="CaptionHorizontalAligment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="CaptionMargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FreeTextText" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="FreeTextFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="FreeTextFontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FreeTextFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FreeTextFontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="FreeTextFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="NewImageWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="NewImageHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="NewImageColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="TitleFrameText" serializeAs="String">
                <value>Title</value>
            </setting>
            <setting name="TitleFrameFontFamily" serializeAs="String">
                <value>Segoe UI</value>
            </setting>
            <setting name="TitleFrameFontStyle" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TitleFrameFontWeight" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TitleFrameFontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TitleFrameVerticalAligment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="TitleFrameHorizontalAligment" serializeAs="String">
                <value>Center</value>
            </setting>
            <setting name="TitleFrameBackgroundColor" serializeAs="String">
                <value>#FFD7D7D7</value>
            </setting>
            <setting name="TitleFrameFontSize" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TitleFrameMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecorderTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="RecorderLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WatermarkFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="WatermarkOpacity" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="WatermarkSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WatermarkVerticalAligment" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="WatermarkHorizontalAligment" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="WatermarkMargin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="BorderLeftThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderTopThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderRightThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BorderBottomThickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FreeDrawingPenWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FreeDrawingPenHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FreeDrawingColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="FreeDrawingStylusTip" serializeAs="String">
                <value>Ellipse</value>
            </setting>
            <setting name="FreeDrawingIsHighlighter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreeDrawingFitToCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FreeDrawingEraserWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FreeDrawingEraserHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FreeDrawingEraserStylusTip" serializeAs="String">
                <value>Rectangle</value>
            </setting>
            <setting name="EditorExtendChrome" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaybackOverrideDelay" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="PlaybackChangeDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CinemagraphPenWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CinemagraphPenHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CinemagraphStylusTip" serializeAs="String">
                <value>Ellipse</value>
            </setting>
            <setting name="CinemagraphIsHighlighter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CinemagraphFitToCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CinemagraphEraserWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CinemagraphEraserHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CinemagraphEraserStylusTip" serializeAs="String">
                <value>Rectangle</value>
            </setting>
            <setting name="CinemagraphColor" serializeAs="String">
                <value>#2000FF10</value>
            </setting>
            <setting name="ClickColor" serializeAs="String">
                <value>#FFFFFF00</value>
            </setting>
            <setting name="FadeFrameCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TitleFrameDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="BoardColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="BoardStylusTip" serializeAs="String">
                <value>Ellipse</value>
            </setting>
            <setting name="BoardStylusWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardStylusHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardIsHighlighter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoardFitToCurve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoardEraserWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardEraserHeight" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardEraserStylusTip" serializeAs="String">
                <value>Rectangle</value>
            </setting>
            <setting name="BoardGridColor1" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="BoardGridColor2" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="BoardGridSize" serializeAs="String">
                <value>0,0,20,20</value>
            </setting>
            <setting name="BoardGridBackground" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="TransparentCorner" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WatermarkTop" serializeAs="String">
                <value>-666</value>
            </setting>
            <setting name="WatermarkLeft" serializeAs="String">
                <value>-666</value>
            </setting>
        </ScreenToGif.Properties.Settings>
    </userSettings>
</configuration>